@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color:aquamarine;
}

.navbar-nav .nav-link.active {
    color:rgb(143, 142, 142);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

.sidebar {
    color:aquamarine;
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);


}

.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}